﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="justify-content-xl-center">
        <div class="card" style="width:400px; height:500px;">
            <div class="mx-3 my-3 text-center">
                <h2 class="card-title">Jugadores</h2>
            </div>
            <form action="/Home/Simulacion" method="post">
                <div class="mx-3 my-3">
                    <input type="text" class="form-control " name="jugadores[0].nombre" value="" placeholder="Nombre del Jugador 1" />
                </div>
                <div class="mx-3 my-3">
                    <input type="text" class="form-control" name="jugadores[1].nombre" value="" placeholder="Nombre del Jugador 2" />
                </div>
                <div class="mx-3 my-3">
                    <input type="text" class="form-control" name="jugadores[2].nombre" value="" placeholder="Nombre del Jugador 3" />
                </div>
                <div class="mx-3 my-3">
                    <input type="text" class="form-control" name="jugadores[3].nombre" value="" placeholder="Nombre del Jugador 4" />
                </div>
                <div class="mx-3 my-3">
                    <input type="text" class="form-control" name="jugadores[4].nombre" value="" placeholder="Nombre del Jugador 5" />
                </div>
                <div class="mx-3 my-3 text-center">
                    <button class="btn btn-danger">Iniciar Simulacion</button>
                </div>
            </form>
        </div>
    </div>
</div>
