﻿
@{
    ViewData["Title"] = "Simulacion";
}

<div class="row">
    <div class="col-12">
        <h2 class=" text-center font-weight-bold">Resultados</h2>
    </div>
</div>
<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold text-dark">@item.nombre</h5>
                @if (item.resultado=="Ganador")
                {
                    <div class="bg-success">
                        <h5 class="card-title text-center font-weight-bold text-dark">@item.resultado</h5>
                    </div>
                }
                else if (item.resultado=="Empate")
                {
                    <div class="bg-primary">
                        <h5 class="card-title text-center font-weight-bold text-dark">@item.resultado</h5>
                    </div>
                }
                else
                {
                    <div>
                        <h5 class="card-title text-center font-weight-bold text-dark">@item.resultado</h5>
                    </div>
                }

                @foreach (var carta in item.cartas)
                {
                    <div class="card-group">
                        <div class="card mx-3 my-3">
                            <h1 class="text-center">
                                @if (carta.numero == 14)
                                {
                                    <span>A</span>
                                }
                                else if (carta.numero == 13)
                                {
                                    <span>K</span>
                                }
                                else if (carta.numero == 12)
                                {
                                    <span>Q</span>
                                }
                                else if (carta.numero == 11)
                                {
                                    <span>J</span>
                                }
                                else
                                {
                                    <span>@carta.numero</span>
                                }

                                @if (carta.palo == 1)
                                {
                                    <span>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-spade-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.602 14.153C6.272 13.136 7.348 11.28 8 9c.652 2.28 1.727 4.136 2.398 5.153.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847z" />
                                            <path d="M4.5 12.5A3.5 3.5 0 0 0 8 9a3.5 3.5 0 1 0 7 0c0-3-4-4-7-9-3 5-7 6-7 9a3.5 3.5 0 0 0 3.5 3.5z" />
                                        </svg>
                                    </span>
                                }
                                @if (carta.palo == 2)
                                {
                                    <span class="text-danger">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-diamond-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.45 7.4L7.2 1.067a1 1 0 0 1 1.6 0L13.55 7.4a1 1 0 0 1 0 1.2L8.8 14.933a1 1 0 0 1-1.6 0L2.45 8.6a1 1 0 0 1 0-1.2z" />
                                        </svg>
                                    </span>
                                }
                                @if (carta.palo == 3)
                                {
                                    <span class="text-danger">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                                        </svg>
                                    </span>
                                }
                                @if (carta.palo == 4)
                                {
                                    <span>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-club-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.5 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                                            <path d="M8 9a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm7 0a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                                            <path d="M5.602 14.153c.5-.758 1.224-1.98 1.83-3.498.187-.467.949-.467 1.136 0a19.816 19.816 0 0 0 1.83 3.498c.231.35-.02.847-.438.847H6.04c-.419 0-.67-.497-.438-.847z" />
                                            <path d="M7 7h2v4H7V7z" />
                                        </svg>
                                    </span>
                                }
                            </h1>
                        </div>
                    </div>
                }
            </div>
            <h1>@item.clasificacionMano</h1>
        </div>
     }

</div>
